<div class="row">
  <div class="col-xs-12">
    <img src="{{ receta.imagePath }}" alt="{{ receta.name }}" class="img-responsive"
    style="max-height: 300px;">
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Nombre de Receta {{ receta.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div
      appDropdown
      class="btn-group"
      >
        <button type="button"
          class="btn btn-primary dropdown-toggle">
          Gestionar Receta <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="enviarShopList(receta)"
            style="cursor: pointer;">Agregar a shopping list</a></li>
          <li><a href="#">Editar receta</a></li>
          <li><a href="#">Borrar receta</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ receta.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let ingredient of receta.ingredientes">
    {{ ingredient.name }} - {{ ingredient.cantidad }}
      </li>
    </ul>
  </div>
</div>
